@font-face {
    font-family:MenuFont;
    src: url(../fonts/Bellerose.ttf);
}
body{
	font-family: MenuFont;
}
#menu{
	
	font-size: 18px;
	margin-bottom: 20px;
	border-top: 2px solid #dfdfdf;
	border-bottom: 2px solid #dfdfdf;

}

#header{
	font-weight: 20px;
}
#logo img{
	height: 200px;
}
#menu ul{
	text-decoration: none;
	text-align: center;
	top: 220px;	

}
#menu ul li{
	display: inline;
	text-align: left;
	margin: 0 10px 0 0;

}
#menu ul li a{
	text-decoration: none;
	color: #000;

}
.activo{
		background: url(../imagenes/mancha.png) no-repeat;
	background-position: center bottom;
}
.mensaje{
	display: none;
}
.botones {
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );
	background:-moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
	background-color:#ffc477;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #eeb44f;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	font-style:normal;
	height:60px;
	line-height:60px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:2px 1px 0px #cc9f52;
}
.botones:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477) );
	background:-moz-linear-gradient( center top, #fb9e25 5%, #ffc477 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
	background-color:#fb9e25;
}.botones:active {
	position:relative;
	top:1px;
}
#galeria img{
	height: 150px;
	position: fixed;
}
#popup{
	bottom: 725px;
	left: 325px;
	display: none;
}
#footer-social{
	margin-top: 15px;

}
 p{
	text-align: justify;
}
.well img{
	height: 300px;
}
iframe{
	height: 2000px;
	width: 100%;
	border:none;
}
.btn_contact{
	cursor: pointer;
	cursor: hand;
}